<div class="dataviz">

<!-- if the motion gets too annoying: a freeze button -->
<!-- currently does nothing lol -->
<div style="float: right;"> <button>Freeze</button>
</div>

<script>

// toy data
var pages = ['Ishmael', 'Flask', 'Stubb', 'Starbuck']

// create SVG element
var parent = d3.select('.dataviz').append('svg')
	.attr('width', (window.innerWidth * 0.29))
	.attr('height', (window.innerHeight * 0.95));

// for force layout (includes margins)
var width = (window.innerWidth * 0.29) - 20;
var height = (window.innerHeight * 0.95) - 20;

// create page nodes
var nodes = d3.range(pages.length)
	.map(function(d, i) {
		return {
			x: retrieveX(i),
			y: retrieveY(i),
			index: i, 
			name: pages[i], 
			url: 'http://localhost:5000/page/' + pages[i]
		};
});

function retrieveX(i) {
	if(JSON.parse(localStorage.getItem(i)) !== null) {
		var returned_x = JSON.parse(localStorage.getItem(i)).x;
		var name = JSON.parse(localStorage.getItem(i)).index;
		return JSON.parse(localStorage.getItem(i)).x;
	}
	else {
		return getRandomInt(0, width);
	}
}

function retrieveY(i) {
	if(JSON.parse(localStorage.getItem(i)) !== null) {
		var returned_y = JSON.parse(localStorage.getItem(i)).y;
		var name = JSON.parse(localStorage.getItem(i)).index;
		return JSON.parse(localStorage.getItem(i)).y;
	}
	else {
		return getRandomInt(0, width);
	}
}

var drag = d3.behavior.drag()
    .origin(Object)
    .on('dragstart', function() {
    	// prevents a dragend from triggering a click
    	d3.event.sourceEvent.stopPropagation();
    })
    .on("drag", dragmove)
    .on('dragend', storeLocation); //localStorage.setItem('testObject', testObject));

// keeps nodes from appearing in a random place after each page refresh
function storeLocation(d) {
	var node_x = d3.select(this).attr('cx'); 
	var node_y = d3.select(this).attr('cy');
	var node_i = d.index;
	// localStorage.setItem();
	var current = { index: node_i, x: node_x, y: node_y };
	localStorage.setItem(d.index, JSON.stringify(current));
	// console.log(JSON.parse(localStorage.getItem(d.index)))
	// console.log(JSON.parse(localStorage.getItem(d.index)).x);
}

var child = parent.selectAll('svg')
	.data(nodes)
	.enter().append('circle')
	.attr('cx', function(d) { return d.x; })
	.attr('cy', function(d) { return d.y; })
	.attr('r', 10)
	.attr('class', 'circle')
	.attr('fill', '#377BA8')
	.attr('stroke', 'black')
	.call(drag)
	.on('mouseover', function(d) {
		d3.select(this).transition()
			.duration(500)
			.attr('fill', 'white');
	})
	.on('mouseout', function(d) {
		d3.select(this).transition()
			.duration(500)
			.attr('fill', '#377BA8');
	})
	.on('click', function(d) { 
		// checks to see if a drag just occurred
		if(d3.event.defaultPrevented) return;
		// redirect to selected page
		window.location.assign(d.url); 
	});

function dragmove(d) {
  d3.select(this)
      .attr("cx", d.x = Math.max(10, Math.min(width - 10, d3.event.x)))
      .attr("cy", d.y = Math.max(10, Math.min(height - 10, d3.event.y)));
}

// var caption = child.append('text')
// 	.attr('x', function(d, i) {
// 		//var c_loc = d3.mouse(d3.select(this.parentNode).select('.circle'));
// 		//console.log(c_loc);
// 		return xvals(i); 
// 	})
// 	.attr('y', function(d, i) { return xvals(i); })
// 	.attr('dy', '.35em')
// 	.attr('class', 'caption')
// 	.style('opacity', 0)
// 	.text(function(d) {return d; });

// cir.on('mouseover', function(d) {
// 	var xplace = d3.select(this).attr('cx');
// 	var yplace = d3.select(this).attr('cy');
// 	d3.select(this)
// 		.transition()
// 			.duration(500)
// 			.attr('fill', 'white')
// 			.attr('stroke', 'black');
// 	d3.select(this.parentNode).select('.caption')
// 		// first move the text close to the cursor (and the node)
// 		.attr('x', function(d) {
// 			var xplace2 = parseInt(xplace) + 20;
// 			return xplace2;
// 		})
// 		.attr('y', function(d) { return yplace; })
// 		// now change the opacity
// 		.transition()
// 			.duration(200)
// 			.style('opacity', .8)
// 			.text(d);
//  });

// cir.on('mouseout', function(d, i) {
// 	d3.select(this).transition()
// 		.duration(500)
// 		.attr('fill', '#377BA8');
// 	caption.transition()
// 		.duration(500)
// 		.style('opacity', 0);
// });


function xvals(i) {
	var x = [10, 30, 60, 100];
	return x[i];
}

// random x, y value for circle destination
function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

var rand_y = getRandomInt(0, (window.innerHeight * 0.95));
var rand_x = getRandomInt(0, (window.innerWidth * 0.29));

var line = d3.svg.line()
	.x(function(d) {return d.x; })
	.y(function(d) {return d.y; })
	.interpolate('basis');

// d3.selectAll('circle').transition()
// 	.ease('linear')
// 	.attr('cy', function() {
// 		return getRandomInt(0, (window.innerHeight * 0.95));
// 	})
// 	.attr('cx', function() {
// 		return getRandomInt(0, (window.innerWidth * 0.29));
// 	})
// 	.duration(4000);

// upon hitting 'Freeze', stop all circles
d3.select('button').on('click', function() {

})

// Adjust SVG width and height every time window is resized
window.addEventListener('resize', adjustSVG);
function adjustSVG() {
	var new_w = window.innerWidth * 0.29;
	var new_h = window.innerHeight * 0.95;
	parent.attr('width', new_w)
		.attr('height', new_h);
}

</script>

</div>