{% extends 'background.html' %}

{% block body %}

<form id='add_page' method='post' action='/success'>
	<div class="header_align"> <input type='submit' value='Submit'> </div>
<h1>Add a new page: </h1><br>
	<p> Title: <br> <input type='text' name='title' maxlength='255'></p><br>
	<p> Subtitle:<br> <input type='text' name=1 size='75'></p><br>
	<p> Abstract:<br> <textarea name=2 class='small'></textarea></p><br>
	<p> Content:<br> <textarea name=0 class='small'></textarea></p><br>
	<p> Motivations:<br> <textarea name=3 class='small'></textarea></p><br>
	<p> Basics:<br> <textarea name=4 class='small'></textarea></p><br>
	<p> Opinions:<br> <textarea name=5 class='small'></textarea></p><br>
	<p> Social:<br> <textarea name=6 class='small'></textarea></p><br>
	<p> Extra Credit:<br> <textarea name=7 class='small'></textarea></p><br>
	<input type='hidden' name='form_id' value='add_page'>
	<p> <input type='submit' value='Submit'></p>
</form>

{% endblock %}