<div class=sidebar>

<p><a href={{url_for('welcome')}}>Home</a></p>
<p><a href={{url_for('newpage')}}>New Page</a></p>
<p><a href={{url_for('newlist')}}>New List</a></p>
<p><a href={{url_for('all_pages')}}>Show All</a></p>
<p><a href={{url_for('java')}}>JScript</a></p>

<div id="page_sidebar" style="display: none;">
<br>
<hr>
<p><a id='add_section'>Add Section</a></p>
<p>New Child Page</p>
</div>
</div>

<script>
// if the user is looking at a wiki page, display page options in sidebar
//
var url_stem = 'http://localhost:5000/'	// this will change
var is_page = document.URL.substring(url_stem.length, (url_stem.length + 5));
if(is_page == 'page/') {
	var pagename = document.URL.substring((url_stem.length + 5), document.URL.length);
	document.getElementById('page_sidebar').style.display="block";
	document.getElementById('add_section').href = document.URL + '/add';
}
</script>